{{ define "title" }}Create Report - {{ end }}
{{ define "main" }}
<script defer>
    window.onload = function () {
        document.getElementById("year").value = new Date().getFullYear();
        document.getElementById("month").value = new Date().getMonth() + 1;
    }
</script>
<h1>Create Report</h1>
<form action="/report" method="POST">
    {{ with .Error }}
    <div class="alert alert-warning" role="alert">{{ . }}</div>
    {{ end }}
    <div class="mb-3">
        <label for="year" class="form-label">Year</label>
        <input type="number" class="form-control" name="year" id="year" min="2014" value="2021">
    </div>
    <div class="mb-3">
        <label for="month" class="form-label">Month</label>
        <input type="number" class="form-control" name="month" id="month" min="1" max="12" value="1">
    </div>
    {{- if .Roles.HRManager }}
    <div class="mb-3 form-check">
        <input class="form-check-input" type="radio" id="userselfradio" name="userscope" value="user-self-radio"
               checked>
        <label class="form-check-label" for="userselfradio">
            For myself
        </label>
    </div>
    <div class="mb-3 form-check form-check-inline">
        <input class="form-check-input" type="radio" id="userforeignradio" name="userscope" value="user-foreign-radio">
        <label class="form-check-label" for="userforeignradio">
            For someone else
        </label>
        <span>
            <input class="form-control" type="text" name="username" id="username" placeholder="Search Username">
        </span>
    </div>
    {{- end }}
    <div class="mb-3">
        <button type="submit" name="monthlyReport" value="true" class="btn btn-primary">Create Monthly Report</button>
        <button type="submit" name="yearlyReport" value="true" class="btn btn-secondary">Create Yearly Report</button>
    </div>
</form>
{{ end }}
