{{ define "title" }}Create Report - {{ end }}
{{ define "main" }}
<script defer>
    window.onload = function () {
        document.getElementById("year").value = new Date().getFullYear();
        document.getElementById("month").value = new Date().getMonth() + 1;
    }
</script>
{{ with .Warning }}
<div class="alert alert-warning alert-dismissible" role="alert">
    {{ . }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{ end }}
<h1>This week at a glance</h1>
<style>
    .column {
       font-family: monospace;
       text-align: right;
   }
   .Headline {
       text-align: right;
   }
</style>
<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">Weekday</th>
        <th scope="col">Leaves</th>
        <th scope="col" class="Headline">Excused hours</th>
        <th scope="col" class="Headline">Worked hours</th>
        <th scope="col" class="Headline">Overtime hours</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Attendances }}
    <tr>
        <td>{{ .Weekday }}</td>
        <td>{{ .LeaveType }}</td>
        <td class="column">{{ .ExcusedHours }}</td>
        <td class="column">{{ .WorkedHours }}</td>
        <td class="column">{{ .OvertimeHours }}</td>
    </tr>
    {{ end }}
    </tbody>
    <tfoot>
    <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col" class="Headline">Total Worked</th>
        <th scope="col" class="Headline">This week's Overtime</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="column">{{ .Summary.TotalWorked }}</td>
        <td class="column">{{ .Summary.TotalOvertime }}</td>
    </tr>
    {{ if .IsSignedIn }}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Don't forget to sign out!</td>
    </tr>
    {{ end }}
    </tfoot>
</table>

<h1>Create Report</h1>
<form action="/report" method="POST">
    {{ with .Error }}
    <div class="alert alert-danger" role="alert">{{ . }}</div>
    {{ end }}
    <div class="mb-3">
        <label for="year" class="form-label">Year</label>
        <input type="number" class="form-control" name="year" id="year" min="2014" value="2021">
    </div>
    <div class="mb-3">
        <label for="month" class="form-label">Month</label>
        <input type="number" class="form-control" name="month" id="month" min="1" max="12" value="1">
    </div>
    {{- if .Roles.HRManager }}
    <div class="mb-3 form-check">
        <input class="form-check-input" type="radio" id="userselfradio" name="userscope" value="user-self-radio"
               checked>
        <label class="form-check-label" for="userselfradio">
            For myself
        </label>
    </div>
    <div class="mb-3 form-check form-check-inline">
        <input class="form-check-input" type="radio" id="userforeignradio" name="userscope" value="user-foreign-radio">
        <label class="form-check-label" for="userforeignradio">
            For someone else
        </label>
        <span>
            <input class="form-control" type="text" name="username" id="username" placeholder="Search Username">
        </span>
    </div>
    {{- end }}
    <div class="mb-3">
        <button type="submit" name="monthlyReport" value="true" class="btn btn-primary">Create Monthly Report</button>
        <button type="submit" name="yearlyReport" value="true" class="btn btn-secondary">Create Yearly Report</button>
        {{- if .Roles.HRManager }}
        <button type="submit" name="employeeReport" value="true" class="btn btn-secondary">All Employees</button>
        {{- end }}
    </div>
</form>
{{ end }}
