{{ define "main" }}
<script defer>
    let createAlert = function (message, level) {
        let alertContainer = document.getElementById('alerts')
        let alert = document.createElement("div")
        alert.className = "alert alert-dismissible alert-" + level
        alert.innerText = message
        alert.innerHTML += '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>'
        alertContainer.appendChild(alert)
    }

    let saveOvertimeBalance = function (employeeID) {
        let input = document.getElementById("input-edit-" + employeeID).value
        console.log(input)
    }

    window.onload = function () {
        createAlert("test", "success")
    }

</script>
<style>
    /* Fix header on top when scrolling */
    .table thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>
<h1>Attendances for {{ .Month }} {{ .Year }}</h1>
<div id="alerts">
    {{ with .Error }}
    <div class="alert alert-danger" role="alert">{{ . }}</div>
    {{ end }}
    {{ with .Warning }}
    <div class="alert alert-warning alert-dismissible" role="alert">
        {{ . }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{ end }}
</div>
<p>
    <a href="{{ .Nav.PreviousMonthLink }}" class="btn btn-secondary">Previous</a>
    <a href="{{ .Nav.CurrentMonthLink }}" class="btn btn-primary">Current</a>
    <a href="{{ .Nav.NextMonthLink }}" class="btn btn-secondary">Next</a>
</p>
<table class="table table-hover table-sm">
    <thead>
    <tr class="table-secondary">
        <th scope="col">Name</th>
        <th scope="col">Leaves</th>
        <th scope="col">Excused hours</th>
        <th scope="col">Worked hours</th>
        <th scope="col">{{ .LastMonth }} Payslip</th>
        <th scope="col">Overtime delta</th>
        <th scope="col">Balance Prediction</th>
        <th scope="col">{{ .Month }} Payslip</th>
        <th scope="col">Save in Payslip</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Reports }}
    <tr>
        <td><a href="{{ .ReportDirectLink }}">{{ .Name }}</a> ({{ .Workload }}%)</td>
        <td>{{ .Leaves }}d</td>
        <td>{{ .ExcusedHours }}</td>
        <td>{{ .WorkedHours }}</td>
        <td>{{ .PreviousBalance }}</td>
        <td>{{ .OvertimeHours }}</td>
        <td>{{ .PredictedBalance }}</td>
        <td>{{ .NextBalance }}</td>
        <td>
            {{- if .OvertimeBalanceEditEnabled }}
            <div class="mb-3">
                <input id="input-edit-{{ .EmployeeID }}" type="text" class="form-control" value="{{ .OvertimeBalanceEditPreviewValue }}" placeholder="{{ .PredictedBalance }}">
                <button type="button" class="btn btn-secondary btn-sm" id="btn-edit-{{ .EmployeeID }}" onclick="saveOvertimeBalance({{ .EmployeeID }})">{{ .ButtonText }}</button>
            </div>
            {{- else }}
            Create payslip first
            {{- end }}
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}
