{{ define "main" }}
<h1>Help</h1>
{{ with .Error }}
<div class="alert alert-warning" role="alert">{{ . }}</div>
{{ end }}
<div>
    <h3>Overtime calculation</h3>
    <p>
        The overtime is calculated with following formula:
        <mark>overtime = worked time + excused time - daily maximum.</mark>
        Let's break this down:
    </p>
    <p>
        <u>Worked time</u> is the sum of the attendances in a single day with all "Action" fields being empty.
        Please provide a clean timesheet where the order of sign-ins and sign-outs is correct, otherwise calculation may fail or provide incorrect numbers.
        Days without any attendance or leaves simply count towards undertime.
    </p>
    <p>
        <i>Note</i>: Attendances with "Action" being "Outside office hours" are multiplied with <i>1.5</i>.
    </p>
    <p>
        <u>Excused time</u> is the sum of the time when you are considered absent with approval.
        Currently, excusable absences are:
    </p>
    <ul>
        <li>Sick / Medical consultation</li>
        <li>Authorities</li>
        <li>Requested Public Service</li>
    </ul>
    <p>
        <i>Note</i>: The excused time is capped at the daily maximum since this time is a "Goodie" from VSHN that you can use to avoid making undertime.
        For example, if your daily maximum is 8h (working schedule 100%), you have worked 8h, but also you log 1h of sick leave (total logged time 9h), then the sick leave is ignored and your overtime is 0 minutes.
        However, if you have worked 7.5h and recorded 1h sick leave (total logged time 8.5h), then your overtime is also 0 minutes as the sick leave is effectively worth 30m in this case.
        Conversely, if you are sick the whole day, be sure to log at least 8h (or your equivalent of your schedule) of sick leave for the day.
    </p>
    <p>
        <u>Daily maximum</u> is the calculated time that you have to work in a single day based on your working schedule in your contract.
        For example, for a 100% contract this is equal to 8h, for an 80% contract it's 6h24m, for a 60% contract it's 4h48m etc.
    </p>
    <p>
        <i>Note</i>: Before the introduction of the 40h-week in January 2021, the base daily max was 8h30m.
        The calculator should reflect this correctly.
    </p>
    <p>
        <i>Note</i>: All leaves (except "Unpaid") and days on weekends reduce the daily maximum by the contract-adjusted time.
        For example, a public holiday for an 80% working schedule equals to 6h24m.
    </p>
</div>

<div>
    <h3>Overtime delta</h3>
    <p>
        The overtime delta in the monthly or yearly reports is only indicating a difference towards the theoretical target work time after deducting all applicable absences.
        It is <strong>not</strong> indicating your current balance, but rather just showing whether you've worked more or less towards the contracted working schedule.
    </p>
</div>

<div>
    <h3>Overtime balance and Payslip</h3>
     <p>
        The overtime balance is calculated with following formula:
        <mark>new overtime balance = overtime balance from last month's payslip + overtime delta</mark>
    </p>
    <p>
        The calculator doesn't cover all edge and special cases regarding the overtime balance.
        For example, it doesn't automatically convert remaining holiday leaves into overtime hours at New Year's Eve.
        There might be other special occasions where PeopleOps needs to adjust the overtime balance manually.
    </p>
    <p>
        For this reason, the overtime balance is stored in your payslip associated with the corresponding month.
        This is done manually by PeopleOps.
        That means the displayed overtime balance in the reports is merely a <strong>non-guaranteed prediction</strong> that is calculated from the last month's payslip with the overtime delta.
        The value in the <i>payslip</i> is ultimately <i>authoritative</i> of your overtime balance.
    </p>
    <p>
        <i>Note for PeopleOps</i>: Regarding the overtime balance in the payslip, please provide the overtime balance in one of the following recognized formats (you can still add arbitrary comment before or after the value).
    </p>
    <ul>
        <li>hhh:mm (e.g. '15:54')</li>
        <li>hhh:mm:ss (e.g. '153:54:45')</li>
    </ul>
</div>

<div>
    <h3>Features exclusively for PeopleOps</h3>
    <p>
        When requesting a monthly or yearly report for someone else, you need to be in the <i>Human Resources / Manager</i> group in Odoo.
    </p>
</div>

<div>
    <h3>Timezone</h3>
    <p>
        While Odoo saves timestamps in UTC, the calculator uses <i>Europe/Zurich</i> as its timezone to calculate the overtime.
        This should automatically reflect daylight saving time, but it doesn't calculate the overtime correctly for people working outside this timezone.
        This issue needs to be addressed for VSHN Canada, but it depends if and how Odoo is used in such cases.
    </p>
</div>

<div>
    <h3>New VSHNeers</h3>
    <p>
        New VSHNeers starting a few days later than first day of a month will have the first days undertime (as if they weren't present).
    </p>
</div>

<div>
    <h3>Short-time work in 2020</h3>
    <p>
        The calculator uses the contract information in Odoo to determine your working schedule.
        During the first Corona waves in Switzerland VSHN went into short-time work where people worked at a lower schedule while still being paid 100% of their contractual schedule.
        As a consequence, some people will see undertime calculated in their reports in 2020.
        However, the overtime balance has been corrected by PeopleOps.
    </p>
</div>
{{ end }}
