{{ define "main" }}
<h1>Help</h1>
{{ with .Error }}
<div class="alert alert-danger" role="alert">{{ . }}</div>
{{ end }}
<div>
    <h3>Overtime calculation</h3>
    <p>
        The overtime is calculated with following formula:
        <mark>overtime = worked time + excused time - daily maximum.</mark>
        Let's break this down:
    </p>
    <p>
        <u>Worked time</u> is the sum of the attendances in a single day with all "Action" fields being empty.
        Please provide a clean timesheet where the order of sign-ins and sign-outs is correct, otherwise calculation may fail or provide incorrect numbers.
        Days without any attendance or leaves simply count towards undertime.
    </p>
    <p>
        ℹ️ Attendances with "Action" being "Outside office hours" are multiplied with <i>1.5</i>.
    </p>
    <p>
        <u>Excused time</u> is the sum of the time when you are considered absent with approval.
        Currently, excusable absences are:
    </p>
    <ul>
        <li>Sick / Medical consultation</li>
        <li>Authorities</li>
        <li>Requested Public Service</li>
    </ul>
    <p>
        ℹ️ The excused time is capped at the daily maximum since this time is a "Goodie" from VSHN that you can use to avoid making undertime.
        For example, if your daily maximum is 8h (working schedule 100%), you have worked 8h, but also you log 1h of sick leave (total logged time 9h), then the sick leave is ignored and your overtime is 0 minutes.
        However, if you have worked 7.5h and recorded 1h sick leave (total logged time 8.5h), then your overtime is also 0 minutes as the sick leave is effectively worth 30m in this case.
        Conversely, if you are sick the whole day, be sure to log at least 8h (or your equivalent of your schedule) of sick leave for the day.
    </p>
    <p>
        <u>Daily maximum</u> is the calculated time that you have to work in a single day based on your working schedule in your contract.
        For example, for a 100% contract this is equal to 8h, for an 80% contract it's 6h24m, for a 60% contract it's 4h48m etc.
    </p>
    <p>
        💡 See how to record attendances in the <a href="https://handbook.vshn.ch/timetracking.html" target="_blank">Handbook</a>!
    </p>
    <p>
        ℹ️ Before the introduction of the 40h-week in January 2021, the base daily max was 8h30m.
        The calculator should reflect this correctly.
    </p>
    <p>
        ℹ️ All leaves (except "Unpaid") and days on weekends reduce the daily maximum by the contract-adjusted time.
        For example, a public holiday for an 80% working schedule equals to 6h24m.
    </p>
</div>

<div>
    <h3>Overtime delta</h3>
    <p>
        The "Total Overtime" in the monthly or yearly reports is only indicating a difference towards the theoretical target work time after deducting all applicable absences.
        It is <strong>not</strong> indicating your current balance, but rather just showing whether you've worked more or less towards the contracted working schedule.
        Overtimes are marked with red after <strong>3 %</strong> of the exceeded daily maximum hours and the same applies to the undertime, they are marked with blue. 
    </p>
</div>

<div>
    <h3>Timesheet Validation</h3>
    <p>
        Odootools detects wrongly recorded attendances.
        Invalid attendances may cause the overtime calculation to be wrong.
    </p>
    <p>
        Rules are fairly simple: Each day (timezone adjusted), where an attendance is recorded, has attendance "shifts".
        Each shift has a timestamp for a start <strong>and</strong> the end.
        Each shift has an attendance "reason": Empty reason is a normal working shift, but there is also "Sick Leave"
        and others.
    </p>
    <p>
        Examples with <strong>valid</strong> attendance:
    </p>
    <ul>
        <li>
            <code>
                Monday,&nbsp;08.00 Sign In,&nbsp;&nbsp;empty reason<br>
                Monday,&nbsp;12.00 Sign Out,&nbsp;empty reason<br>
            </code>
            This is a shift that starts at 8, ends at 12.
            Its duration is 4h.
        </li>
        <li>
            <code>
                Monday,&nbsp;13.00 Sign In,&nbsp;&nbsp;Sick Leave<br>
                Monday,&nbsp;17.00 Sign Out,&nbsp;Sick Leave<br>
            </code>
            This is a shift that starts at 1 in the afternoon, ends at 5.
            Its duration is also 4h, both attendances have the same "reason" logged.
        </li>
    </ul>

    <p>
        Examples with <strong>invalid</strong> attendances:
    </p>
    <ul>
        <li>

            <code>
                Monday,&nbsp;&nbsp;08.00 Sign In,&nbsp;&nbsp;Sick Leave<br>
                Tuesday,&nbsp;17.00 Sign Out,&nbsp;Sick Leave<br>
            </code>

            The shift on Monday is invalid because it has no end, and the shift on Tuesday has no start.<br>
            Clearly the intention is to log 2 days of Sick Leave, but to do that, you also need to add a "Sign Out" on Monday evening and a "Sign In" on Tuesday morning.
        </li>
        <li>

            <code>
                Monday,&nbsp;08.00 Sign In,&nbsp;&nbsp;empty reason<br>
                Monday,&nbsp;14.00 Sign Out,&nbsp;Sick Leave<br>
            </code>
            The shift starting at 8 is invalid because it has no end with the same empty reason.
            The intention is to log out and fill the rest of the day with Sick Leave in case an employee doesn't feel well.<br>
            To fix this case, a "Sign Out" with empty reason must be added at 14.00 and a "Sign Out" with SickLeave at 16.00, this will result in 6h working time and 2h Sick Leave (2 shifts on that day).
        </li>
    </ul>

</div>

<div>
    <h3>Timezones</h3>
    <p>
        Odootools needs to know if the <strong>majority</strong> of attendances within a month is logged outside "Europe/Zurich" timezone.
        For the current month, the user needs to update their timezone settings in user preferences in Odoo, for example "America/Vancouver".
        For past months, the timezone needs to be saved in the according payslip.
        This is done by PeopleOps when they create the payslips for all employees.
    </p>
    <p>
        The timezone is saved in the payslip in order to get a historic view, for example when creating a yearly report, when only certain months differ from the default timezone.
    </p>
    <p>
        If there are attendances in multiple timezones within a month, then the attendances of the minority timezones need to be saved in Odoo in the main timezone of the affected month.
    </p>
</div>

<div>
    <h3>Overtime balance and Payslip</h3>
    <p>
        The overtime balance is calculated with following formula:
        <mark>new overtime balance = overtime balance from last month's payslip + overtime delta</mark>
    </p>
    <p>
        The calculator doesn't cover all edge and special cases regarding the overtime balance.
        For example, it doesn't automatically convert remaining holiday leaves into overtime hours at New Year's Eve.
        There might be other special occasions where PeopleOps needs to adjust the overtime balance manually.
    </p>
    <p>
        For this reason, the overtime balance is stored in your payslip associated with the corresponding month.
        This is done by PeopleOps.
        That means the displayed overtime balance in "Calculated balance" in the reports is merely a <strong>non-guaranteed calculation</strong> that is calculated from the last month's payslip with the overtime delta.
        The value in the <i>payslip</i> is ultimately <i>authoritative</i> of your overtime balance and displayed in
        <mark>"Definitive Balance"</mark>
        field.
        This field is only available after PeopleOps has created the payslip for the according month.
    </p>
</div>

<div>
    <h3>Features exclusively for PeopleOps</h3>
    <p>
        When requesting a monthly or yearly report for someone else, you need to be in the <i>Human Resources / Manager</i> group in Odoo.
        A new button in the main report view allows to get a report over all employees.
        The report also features columns to batch-update the overtime for each employee.
        To be able to save the overtime in the payslip of the affected month, you first need to manually create the payslip in Odoo for each employee.
    </p>
    <p>
        Regarding the overtime balance in the payslip, please provide the overtime balance in one of the following recognized formats (you can still add arbitrary comment before or after the value).
    </p>
    <ul>
        <li>hhh:mm (e.g. '15:54')</li>
        <li>hhh:mm:ss (e.g. '153:54:45')</li>
    </ul>
</div>

<div>
    <h3>Timezone</h3>
    <p>
        While Odoo saves timestamps in UTC, the calculator uses <i>Europe/Zurich</i> as its timezone to calculate the overtime.
        This should automatically reflect daylight saving time, but it doesn't calculate the overtime correctly for people working outside this timezone.
        This issue needs to be addressed for VSHN Canada, but it depends if and how Odoo is used in such cases.
    </p>
</div>

<div>
    <h3>Short-time work in 2020</h3>
    <p>
        The calculator uses the contract information in Odoo to determine your working schedule.
        During the first Corona waves in Switzerland VSHN went into short-time work where people worked at a lower schedule while still being paid 100% of their contractual schedule.
        As a consequence, some people will see undertime calculated in their reports in 2020.
        However, the overtime balance has been corrected by PeopleOps.
    </p>
</div>
{{ end }}
