{{ define "title" }}Login - {{ end }}

{{ define "main" }}
<h1>Login</h1>
<form action="/login" method="POST">
    {{ with .Error }}
    <div class="alert alert-warning" role="alert">{{ . }}</div>
    {{ end }}
    <div class="mb-3">
        <label for="login">VSHN Login</label>
        <input type="text" class="form-control" name="login" id="login">
    </div>
    <div class="mb-3">
        <label for="password">VSHN Password</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
</form>
{{ end }}
