{{ define "title" }}Login - {{ end }}

{{ define "main" }}
<h1>Login</h1>
<form action="/login" method="POST">
  {{ with .Error }}
  <div class="alert alert-warning" role="alert">{{ . }}</div>
  {{ end }}
  <div>
    <label for="login">VSHN Login</label>
    <input type="text" name="login" id="login">
  </div>
  <div>
    <label for="password">VSHN Password</label>
    <input type="password" name="password" id="password">
  </div>
  <div>
    <input type="submit" value="Log in">
  </div>
</form>
{{ end }}
