{{ define "main" }}
<h1>Attendance for {{ .Username }}</h1>
{{ with .Error }}
<div class="alert alert-warning" role="alert">{{ . }}</div>
{{ end }}
<p>
    <a href="{{ .Nav.PreviousYearLink }}" class="btn btn-secondary">Previous</a>
    <a href="{{ .Nav.CurrentYearLink }}" class="btn btn-primary">Current</a>
    <a href="{{ .Nav.NextYearLink }}" class="btn btn-secondary">Next</a>
</p>
<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">Month</th>
        <th scope="col">Leaves</th>
        <th scope="col">Excused hours</th>
        <th scope="col">Worked hours</th>
        <th scope="col">Overtime hours</th>
    </tr>
    </thead>
    <tbody>
    {{ range .MonthlyReports }}
    <tr>
        <td><a href="{{ .DetailViewLink }}">{{ .Name }}</a></td>
        <td>{{ .LeaveDays }}d</td>
        <td>{{ .ExcusedHours }}</td>
        <td>{{ .WorkedHours }}</td>
        <td>{{ .OvertimeHours }}</td>
    </tr>
    {{ end }}
    </tbody>
    <tfoot>
    <tr>
        <th scope="col"></th>
        <th scope="col">Total Leaves</th>
        <th scope="col">Total Excused</th>
        <th scope="col">Total Worked</th>
        <th scope="col">Total Overtime</th>
    </tr>
    <tr>
        <td></td>
        <td>{{ .Summary.TotalLeaves }}d</td>
        <td>{{ .Summary.TotalExcused }}</td>
        <td>{{ .Summary.TotalWorked }}</td>
        <td>{{ .Summary.TotalOvertime }}</td>
    </tr>
    </tfoot>
</table>
{{ end }}
