{{ define "main" }}
<h1>Attendance for {{ .Username }}<small class="text-muted"> {{ .MonthDisplayName }}, {{ .TimezoneDisplayName }}</small></h1>
<div class="float" id="alerts"></div>
<div >
    {{ with .Error }}
    <div class="alert alert-danger" role="alert">{{ . }}</div>
    {{ end }}
    {{ with .Warning }}
    <div class="alert alert-warning alert-dismissible" role="alert">
        {{ . }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{ end }}
</div>
<p>
    <a href="{{ .Nav.PreviousMonthLink }}" class="btn btn-secondary">Previous</a>
    <a href="{{ .Nav.CurrentMonthLink }}" class="btn btn-primary">Current</a>
    <a href="{{ .Nav.NextMonthLink }}" class="btn btn-secondary">Next</a>
</p>
<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">Weekday</th>
        <th scope="col">Date</th>
        <th scope="col">Workload</th>
        <th scope="col">Leaves</th>
        <th scope="col">Excused hours</th>
        <th scope="col">Worked hours</th>
        <th scope="col">Overtime hours</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Attendances }}
    <tr>
        <td>{{ .Weekday }}{{ with .ValidationError }}<br>⚠️ {{ . }}{{ end }}</td>
        <td>{{ .Date }}</td>
        <td>{{ .Workload }}%</td>
        <td>{{ .LeaveType }}</td>
        <td>{{ .ExcusedHours }}</td>
        <td>{{ .WorkedHours }}</td>
        <td>{{ .OvertimeHours }}</td>
    </tr>
    {{ end }}
    </tbody>
    <tfoot>
    <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Total Leaves</th>
        <th scope="col">Total Excused</th>
        <th scope="col">Total Worked</th>
        <th scope="col">Total Overtime</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ .Summary.TotalLeaves }}</td>
        <td>{{ .Summary.TotalExcused }}</td>
        <td>{{ .Summary.TotalWorked }}</td>
        <td>{{ .Summary.TotalOvertime }}</td>
    </tr>
    <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Previous Month's Balance</th>
        <th scope="col">Calculated Balance</th>
        <th scope="col">Definitive Balance</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ .Summary.PreviousBalance }}</td>
        <td>{{ .Summary.NewOvertimeBalance }}</td>
        <td>{{ .Summary.CurrentPayslipBalance }}</td>
    </tr>
    </tfoot>
</table>
{{ end }}
