{{ define "main" }}
<h1>Attendance</h1>
{{ with .Error }}
<div class="alert alert-warning" role="alert">{{ . }}</div>
{{ end }}
<table class="table table-hover table-condensed">
    <thead>
    <tr style="font-weight: bold">
        <td>Weekday</td>
        <td>Date</td>
        <td>Overtime hours</td>
    </tr>
    </thead>
    <tbody>
    {{ range .Attendances }}
    <tr>
        <td>{{ .Weekday }}</td>
        <td>{{ .Date }}</td>
        <td>{{ .OvertimeHours }}</td>
    </tr>
    {{ end }}
    </tbody>
    <tfoot>
    <tr style="font-weight: bold">
        <td></td>
        <td>Total Leaves</td>
        <td>Total Overtime</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ .Summary.TotalLeaves }}</td>
        <td>{{ .Summary.TotalOvertime }}</td>
    </tr>
    </tfoot>
</table>
{{ end }}
