{{ define "main" }}
<h1>Attendance for {{ .Username }}</h1>
{{ with .Error }}
<div class="alert alert-danger" role="alert">{{ . }}</div>
{{ end }}
<p>
    <a href="{{ .Nav.PreviousYearLink }}" class="btn btn-secondary">Previous</a>
    <a href="{{ .Nav.CurrentYearLink }}" class="btn btn-primary">Current</a>
    <a href="{{ .Nav.NextYearLink }}" class="btn btn-secondary">Next</a>
</p>
<style>
     .Overtime {
        color:#005AB5;
    }
    .Undertime {
        color: #DC3220;
    }
    .bold {
        font-weight: bold
    }
</style>
<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">Month</th>
        <th scope="col">Leaves</th>
        <th scope="col" class="text-end">Excused hours</th>
        <th scope="col" class="text-end">Worked hours</th>
        <th scope="col" class="text-end">Overtime hours</th>
        <th scope="col" class="text-end">Definitive balance</th>
    </tr>
    </thead>
    <tbody>
    {{ range .MonthlyReports }}
    <tr>
        <td><a href="{{ .DetailViewLink }}">{{ .Name }}</a>{{- with .ValidationError }} ⚠️{{- end }}</td>
        <td>{{ .LeaveDays }}d</td>
        <td class="text-end font-monospace bold">{{ .ExcusedHours }}</td>
        <td class="text-end font-monospace bold" >{{ .WorkedHours }}</td>
        <td class="text-end font-monospace bold {{ .OvertimeClassname }} ">{{ .OvertimeHours }}</td>
        <td class="text-end font-monospace bold">{{ .DefinitiveBalance }}</td>
    </tr>
    {{ end }}
    </tbody>
    <tfoot>
    <tr>
        <th scope="col"></th>
        <th scope="col">Total Leaves</th>
        <th scope="col" class="text-end">Total Excused</th>
        <th scope="col" class="text-end">Total Worked</th>
        <th scope="col" class="text-end">Total Overtime</th>
        <th scope="col" class="text-end"></th>
    </tr>
    <tr>
        <td></td>
        <td>{{ .Summary.TotalLeaves }}d</td>
        <td class="text-end font-monospace bold">{{ .Summary.TotalExcused }}</td>
        <td class="text-end font-monospace bold">{{ .Summary.TotalWorked }}</td>
        <td class="text-end font-monospace bold {{ .Summary.OvertimeClassname }}">{{ .Summary.TotalOvertime }}</td>
        <td class="text-end font-monospace bold"></td>
    </tr>
    </tfoot>
</table>
{{ end }}
