{{ define "title" }}Create Report - {{ end }}
{{ define "main" }}
<script defer>
    window.onload = function () {
        document.getElementById("year").value = new Date().getFullYear();
        document.getElementById("month").value = new Date().getMonth() + 1;
    }
</script>
<h1>Create Report</h1>
<form action="/report" method="POST">
    {{ with .Error }}
    <div class="alert alert-warning" role="alert">{{ . }}</div>
    {{ end }}
    <div class="form-group">
        <label for="year">Year</label>
        <input type="number" class="form-control" name="year" id="year" min="2014" value="2020">
    </div>
    <div class="form-group">
        <label for="month">Month</label>
        <input type="number" class="form-control" name="month" id="month" min="1" max="12" value="1">
    </div>
    <div class="form-group">
        <label for="fte">FTE percentage</label>
        <input type="number" class="form-control" name="ftepercentage" id="fte" min="1" max="100" value="100">
    </div>
    <button type="submit" class="btn btn-primary">Create Report</button>
</form>
{{ end }}
